name: Archive Folder

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  archive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - run: zip -r pack.zip assets/ pack.mcmeta

      - run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pack.zip
          git commit -m "Update archived pack"
          git push
