name: Archive Folder

on:
  push:
    branches: [ main ]

jobs:
  archive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: zip -r pack.zip microcraft/

      - uses: actions/upload-artifact@v4
        with:
          name: archived-folder
          path: myfolder.zip
